@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
* {
  font-family: 'PT Sans', sans-serif; }

.main-nav {
  position: relative;
  left: 17%; }
  .main-nav a {
    font-size: 1.2em;
    font-weight: 700;
    color: #484242; }

.header {
  min-height: 600px; }

.header-txtwrap {
  position: relative;
  left: 19%;
  top: 100px; }

.main-header {
  font-weight: 700;
  color: #000; }

.sub-header {
  font-weight: 400;
  font-size: 1.3em;
  color: #330099; }

.banner-subheader {
  font-weight: 400;
  font-size: 1.3em;
  color: #000; }

.small-header {
  color: #767373; }

.laptopsvg {
  position: relative;
  top: -100px; }

.right-shape {
  float: right;
  position: absolute;
  top: 0;
  right: 0; }

.left-shape {
  float: left;
  position: absolute;
  left: 0; }

@media (max-width: 576px) {
  .right-shape {
    visibility: hidden; }
  .laptopsvg {
    position: relative;
    top: 15px; }
  .header-txtwrap {
    left: 32%;
    bottom: 10%; } }

@media (min-width: 1600px) {
  .left-shape, .right-shape {
    height: 60%; }
  .main-header {
    font-size: 2em; }
  .sub-header {
    font-size: 1.5em; }
  .small-header {
    font-size: 1.4em; } }

.summary-wrap {
  min-height: 700px; }

.inner-block-wrap {
  margin: 0 auto;
  margin-top: 20%; }

.block-headline {
  color: #330099; }

.icon-blocks {
  opacity: .7; }

.block-text {
  color: #484848; }

#code {
  position: relative;
  min-height: 1200px; }

.featured-header {
  font-weight: bold; }

.featured-img-thumb {
  position: relative;
  width: 100%;
  border-radius: 5px; }

.card-wrap {
  position: relative;
  min-height: 600px;
  padding: 12px;
  overflow: hidden; }

#slantbg {
  position: absolute;
  width: 100%;
  min-height: 600px;
  background: linear-gradient(47deg, #5049E3 1%, #ef37ee) !important;
  overflow: hidden;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: #f4f7fc; }

.row-wrap {
  position: relative;
  margin-top: 40px;
  margin-bottom: 200px; }

.card {
  margin-bottom: 10px;
  height: 300px; }

.card-links {
  color: #000; }

.card-main-title {
  font-weight: 400; }

.card-text {
  color: #404040; }

.coming-soon {
  color: #767373;
  text-align: center; }

#design {
  min-height: 100px; }
